{% extends "browsing/generic_list.html" %}
{% block Titel %}Browse 'Grabungsobjekte'{% endblock %}
{% block list_title %}Browse 'Grabungsobjekte'
 {% if user.is_authenticated %}
      <!--   | <a class ="btn btn-success"  href="#">Create new Document</a> -->
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br>
 <p></p> -->
 <a class ="btn btn-default"  href="{% url 'browsing:browse_documents' %}">Reset search</a>     
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
$(document).ready(function(){
    $("#advanced_search_fields").hide();
    $("#01").click(function(){
        $("#advanced_search_fields").toggle();
    });
});
</script>
{% endblock %}